<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="c:\python\python38" />
  </appSettings>
  <system.webServer>
    <handlers>
        <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python37\python.exe|c:\Python37\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
      <!-- <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python\python38\python.exe|c:\python\python38\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" /> -->
    </handlers>
  </system.webServer>
</configuration>