#table-wrapper table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

#table-wrapper table th,
#table-wrapper table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

#table-wrapper table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

#table-wrapper table tbody + tbody {
  border-top: 2px solid #eceeef;
}

#table-wrapper table #table-wrapper table {
  background-color: #fff;
}

#table-wrapper table-sm th,
#table-wrapper table-sm td {
  padding: 0.3rem;
}

#table-wrapper table-bordered {
  border: 1px solid #eceeef;
}

#table-wrapper table-bordered th,
#table-wrapper table-bordered td {
  border: 1px solid #eceeef;
}

#table-wrapper table-bordered thead th,
#table-wrapper table-bordered thead td {
  border-bottom-width: 2px;
}

#table-wrapper table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

#table-wrapper table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

#table-wrapper table-active,
#table-wrapper table-active > th,
#table-wrapper table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

#table-wrapper table-hover #table-wrapper table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

#table-wrapper table-hover #table-wrapper table-active:hover > td,
#table-wrapper table-hover #table-wrapper table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

#table-wrapper table-success,
#table-wrapper table-success > th,
#table-wrapper table-success > td {
  background-color: #dff0d8;
}

#table-wrapper table-hover #table-wrapper table-success:hover {
  background-color: #d0e9c6;
}

#table-wrapper table-hover #table-wrapper table-success:hover > td,
#table-wrapper table-hover #table-wrapper table-success:hover > th {
  background-color: #d0e9c6;
}

#table-wrapper table-info,
#table-wrapper table-info > th,
#table-wrapper table-info > td {
  background-color: #d9edf7;
}

#table-wrapper table-hover #table-wrapper table-info:hover {
  background-color: #c4e3f3;
}

#table-wrapper table-hover #table-wrapper table-info:hover > td,
#table-wrapper table-hover #table-wrapper table-info:hover > th {
  background-color: #c4e3f3;
}

#table-wrapper table-warning,
#table-wrapper table-warning > th,
#table-wrapper table-warning > td {
  background-color: #fcf8e3;
}

#table-wrapper table-hover #table-wrapper table-warning:hover {
  background-color: #faf2cc;
}

#table-wrapper table-hover #table-wrapper table-warning:hover > td,
#table-wrapper table-hover #table-wrapper table-warning:hover > th {
  background-color: #faf2cc;
}

#table-wrapper table-danger,
#table-wrapper table-danger > th,
#table-wrapper table-danger > td {
  background-color: #f2dede;
}

#table-wrapper table-hover #table-wrapper table-danger:hover {
  background-color: #ebcccc;
}

#table-wrapper table-hover #table-wrapper table-danger:hover > td,
#table-wrapper table-hover #table-wrapper table-danger:hover > th {
  background-color: #ebcccc;
}

.thead-inverse th {
  color: #fff;
  background-color: #292b2c;
}

.thead-default th {
  color: #464a4c;
  background-color: #eceeef;
}

#table-wrapper table-inverse {
  color: #fff;
  background-color: #292b2c;
}

#table-wrapper table-inverse th,
#table-wrapper table-inverse td,
#table-wrapper table-inverse thead th {
  border-color: #fff;
}

#table-wrapper table-inverse#table-wrapper table-bordered {
  border: 0;
}

#table-wrapper table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#table-wrapper table-responsive#table-wrapper table-bordered {
  border: 0;
}